*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
    list-style: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}