@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
    list-style: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}