.footer {
    box-shadow: 0px 1px 5px #3c3c3c;
    padding: 20px 0;
    background: white;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round {
    background: green;
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
}

.toggleCheck {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 12px;
    margin-right: 6px;
    border: 2px solid #000000;
}
